In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('matches - matches.csv')

In [4]:
myseries=df['winner'].value_counts()

In [5]:
myseries

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: count, dtype: int64

In [6]:
#index nikaalna ho to
myseries.index#attribute hai

Index(['Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Sunrisers Hyderabad', 'Deccan Chargers',
       'Gujarat Lions', 'Pune Warriors', 'Rising Pune Supergiant',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiants'],
      dtype='object', name='winner')

In [7]:
#values nikaalna ho to
myseries.values#attribute hai

array([92, 79, 77, 73, 70, 63, 62, 42, 29, 13, 12, 10,  6,  5],
      dtype=int64)

In [ ]:
#head ya tail method bhi use kar sakte hai

In [8]:
myseries.head()

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Name: count, dtype: int64

In [9]:
myseries.tail()

winner
Gujarat Lions              13
Pune Warriors              12
Rising Pune Supergiant     10
Kochi Tuskers Kerala        6
Rising Pune Supergiants     5
Name: count, dtype: int64

In [10]:
#ek particular index ke saamne ki value chahiye ho to
myseries['Royal Challengers Bangalore']

73

In [13]:
#Ab maan lo humko ye nikaalna hai ki konsi team ne sab se jyada matches 
#khele hai. To humare dataset mey problem kya hai ki 
#kabhi ek team team1 column mey aayegi same team kabhi team2 column mey aayegi

#ab 2 series mey agar same indexes hai to dono ko add kar sakte hai

df['team1'].value_counts() + df['team2'].value_counts()

Chennai Super Kings            131
Deccan Chargers                 75
Delhi Daredevils               147
Gujarat Lions                   30
Kings XI Punjab                148
Kochi Tuskers Kerala            14
Kolkata Knight Riders          148
Mumbai Indians                 157
Pune Warriors                   46
Rajasthan Royals               118
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    152
Sunrisers Hyderabad             76
Name: count, dtype: int64